allow surfaceflinger sw_sync_device:chr_file { read write ioctl open };
allow surfaceflinger hwc_prop:property_service set;
allow surfaceflinger self:unix_stream_socket { ioctl };
